<autofac>
	<components>
		<!-- OAuth2 resource owner password credential grant validator -->
		<component type="Thinktecture.AuthorizationServer.OAuth2.WSTrustResourceOwnerCredentialValidation, Thinktecture.AuthorizationServer.OAuth2"
				   service="Thinktecture.AuthorizationServer.Interfaces.IResourceOwnerCredentialValidation, Thinktecture.AuthorizationServer.Core" >
			<parameters>
				<parameter name="address"
						   value="http://localhost/issue/wstrust/mixed/username" />
				<parameter name="realm"
						   value="urn:authorizationserver" />
				<parameter name="issuerThumbprint"
						   value="9175D0CC56436CC48C790A520D048DD1C5129CC7" />
			</parameters>
		</component>

		<!-- OAuth2 assertion grant validator -->
		<!--<component type="Thinktecture.Samples.AssertionGrantValidator, AssertionDemoExtension"
				   service="Thinktecture.AuthorizationServer.Interfaces.IAssertionGrantValidation, Thinktecture.AuthorizationServer.Core" />-->
	</components>
</autofac>