<system.identityModel>
	<identityConfiguration>

		<audienceUris>
			<add value="urn:authorizationserver" />
		</audienceUris>

		<issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
			<authority name="IdP">
				<keys>
					<!--<add thumbprint="ECE75834B2BFA159AEA634F974B4E6DAEEFA0D69" />-->
					<add thumbprint="9175D0CC56436CC48C790A520D048DD1C5129CC7" />
				</keys>
				<validIssuers>
					<add name="http://identityserver.v2.thinktecture.com/trust/hsrtest" />
				</validIssuers>
			</authority>
		</issuerNameRegistry>

		<certificateValidation certificateValidationMode="None" />

		<securityTokenHandlers>
			<add type="System.IdentityModel.Tokens.JwtSecurityTokenHandler, System.IdentityModel.Tokens.Jwt" />

			<!-- machine key for session protection -->
			<remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</securityTokenHandlers>

	</identityConfiguration>
</system.identityModel>