
@{
    ViewBag.Title = "Remember Option";
}

<div id="rememberOptions">
    <h2><span data-bind="text: editDescription"></span> Remember Option</h2>

    <ul class="nav nav-pills">
        <li>
            @{ var url = @Url.Action("RememberOptions"); }
            <a data-bind="attr: { href: '@url#' + $data.appID() }">
                <i class="icon-arrow-left"></i>Back to Consent Remember Options</a>
        </li>
    </ul>
    <fieldset>
        <legend></legend>
        <div>
            <input id="userValue" style="width: 10%; vertical-align: top" data-bind="value: userValue, valueUpdate: 'keyup', enable: optionSelectNotForever"/>
            <select id="optionSelect" name="optionSelect" style="width: 20%; height: 20pt" data-bind="value: optionSelect">
                <option value="1">hours</option>
                <option value="24">days</option>
                <option value="168">weeks</option>
                <option value="720">months</option>
                <option value="8640">years</option>
                <option value="-1">Forever</option>
            </select>
        </div>
        <div>
            <button class="btn btn-primary" data-bind="click: save, disable: anyErrors">Save</button></div>
    </fieldset>
</div>

@section scripts
{
    <script src="~/Areas/Admin/Scripts/RememberOption.js"></script>
}
