
@{
    ViewBag.Title = "Consent Remember Options";
}

<h2>Consent Remember Options</h2>
<ul class="nav nav-pills">
    <li>
        @{ var url = @Url.Action("Manage"); }
        <a data-bind="attr: { href: '@url#' + $data.appID() }">
            <i class="icon-arrow-left"></i> Back to Application</a>
    </li>
    <li>
        @{ var url2 = @Url.Action("RememberOption"); }
        <a data-bind="attr: { href: '@url2#a' + $data.appID() }">New Remember Option</a>
    </li>
</ul>

<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Apply Default Options
        <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a href="#" data-bind="click: function() { populateDefaultOptions() }"><span class="icon-ok"></span>
                Confirm</a>
        </li>
        <li>                            
            <a href="#"><span class="icon-remove"></span>
                Cancel</a>
        </li>
    </ul>
</div>

<table class="table table-striped hide table-condensed" data-bind="css: { hide: !rememberoptions().length }">
    <thead>
        <tr>
            <th></th>
            <th>Label</th>
            <th>Value (hours)</th>
        </tr>
    </thead>
    
    <tbody data-bind="foreach: rememberoptions">
        <tr>
            <td>
                <a class="btn btn-primary" data-bind="attr: { href: '@url2#' + $data.id() + 'a' + $parent.appID() }">Manage</a>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Delete
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" data-bind="click: function (data, evt) { $parent.deleteRememberOption(data) }"><span class="icon-ok"></span>
                                Confirm</a>
                        </li>
                        <li>                            
                            <a href="#"><span class="icon-remove"></span>
                                Cancel</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td data-bind="text:optionLabel"></td>
            <td data-bind="text:value"></td>
        </tr>
    </tbody>

</table>

<p data-bind="css: { hide: rememberoptions().length }" class="alert alert-warning hide" style="margin-top: 10pt">
    No Remember Options found
</p>


@section scripts
{
    <script src="~/Areas/Admin/Scripts/RememberOptions.js"></script>
}